name: rampr
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - scipy
  - ipython
  - openpyxl
  - geopandas
  - seaborn
  - tobler
  - pandas
  - matplotlib
  - pip
  - pip:
    - -e .